@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;400;800&family=Poppins:wght@400;500;600&display=swap');

*{
	margin: 0;
	padding: 0;
}

/*ESTILOS GENERALES*/
body{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	color: #000;
	}

/*----------ESTILOS DE LA CABECERA----------*/
#header{
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 90px;
	background-color: #E6213D;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-areas: "log men car";
	align-items: center;
}	
		
/*----------ESTILOS DEL LOGO PRINCIPAL----------*/
.logoDePagina{
	grid-area: log;
	justify-self: center;
}
.logoDePagina img{
	width: 100px;
	padding: 1rem;
}
@media all and (min-width: 768px){
	.logoDePagina img{
		width: 150px;}
}
/*----------ESTILOS DEL MENU DE LA PAGINA*----------*/
.menu{
	grid-area: men;
	justify-self: center;
}
#header .nav{
	list-style-type: none;
	color: #fff;
	font-size: 0.6rem;
}
@media all and (min-width: 768px){
	#header .nav{
	font-size: 0.8rem;
	padding: 1rem;}
}
@media all and (min-width: 1200px){
	#header .nav{
	font-size: 1rem;
	padding: 1rem;}
}

#header .nav li{
	display: inline-block;
	margin-right: 10px;
}
#header .nav .activo a{
	color: #fff;
	font-weight: 600;
	text-decoration: none;
}

/*----------ESTILOS DEL LOGO DE CARRITO DE COMPRAS----------*/
.logoDeCompras{
	grid-area: car;
	justify-self: center;
}
.logoDeCompras img{
	width: 20px;
	padding: 1rem;
}

/*----------ESTILOS DEL SLIDER----------*/

#carrusel{
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #000;
}
@media all and (min-width: 768px){
	#carrusel{
	height: 90vh;
	flex-direction: row;
	}
}

/*IMAGEN1*/
#carrusel .slider1 {
	width: 100%;
	height: 50vh;
	display: flex;
	flex-direction: column;
	color: #fff;
	/*background-image: url('../assets/logouninet1.png');*/
	background-size: cover;
	background-position: center;
	align-items: flex-start;
	justify-content: center;
}
@media all and (min-width: 768px){
	#carrusel .slider1 {
	width: 50%;
	height: 90vh;
	justify-content: end;
    }
}

.texto1 {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 10px;
	justify-content: center;
}
@media all and (min-width: 768px){
	.texto1 {
	width: 80%;
	height: 50%;
	display: flex;
	flex-direction: column;
	margin: 20px;
	justify-content: center;
    }
}

.titulo1 {
	font-size: 1.8rem;
	font-weight: 800;
	text-align: center;
}
@media all and (min-width: 768px){
	.titulo1 {
	font-size: 2.5rem;
	text-align: left;
	}
}

.parrafo1 {
	font-size: 0.9rem;
	text-align: center;
	margin: 10px 0 10px 0;
}
@media all and (min-width: 768px){
	.parrafo1 {
	font-size: 1rem;
	text-align: left;
	}
}

.boton1 {
	border-radius: 5px;
	width: 180px;
	margin: 25px 0 25px 0;
	text-align: center;
	font-weight: 800;
	color: #000;
	background-color: #fff;
	align-self: center;
}
@media all and (min-width: 768px){
	.boton1 {
	margin: 0px 0 50px 0;
	align-self: flex-start;
  	}
}


/*IMAGEN2*/
#carrusel .slider2 {
	width: 100%;
	height: 50vh;
	display: flex;
	flex-direction: column;
	color: #000;
	background-color: #fff;
	/*background-image: url('../assets/logouninet1.png');*/
	background-size: cover;
	background-position: center;
	align-items: flex-start;
	justify-content: center;
}
@media all and (min-width: 768px){
	#carrusel .slider2 {
	width: 50%;
	height: 90vh;
	align-items: flex-end;
	justify-content: end;
    }
}

.texto2 {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 10px;
	justify-content: center;
}
@media all and (min-width: 768px){
	.texto2 {
	width: 80%;
	height: 50%;
	display: flex;
	flex-direction: column;
	margin: 20px;
	justify-content: center;
    }
}

.titulo2 {
	font-size: 1.8rem;
	font-weight: 800;
	text-align: center;
}
@media all and (min-width: 768px){
	.titulo2 {
	font-size: 2.5rem;
	text-align: right;
	}
}

.parrafo2 {
	font-size: 0.9rem;
	text-align: center;
	margin: 10px 0 10px 0;
}
@media all and (min-width: 768px){
	.parrafo2 {
	font-size: 1rem;
	text-align: right;
	}
}

.boton2 {
	border-radius: 5px;
	width: 180px;
	margin: 25px 0 25px 0;
	text-align: center;
	font-weight: 800;
	color: #fff;
	background-color: #000;
	align-self: center;
}
@media all and (min-width: 768px){
	.boton2 {
	margin: 0px 0 50px 0;
	align-self: flex-end;
  	}
}

/*----------ESTILOS DE LA INFORMACION DE LA EMPRESA----------*/

#infoprin{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: ". sl ." 
						 ". b1 .";
	align-items: center;
}

.slogan {
	grid-area: sl;
	margin: 2%;
	padding: 2%;
}
.slogan p {
	padding: 0 10% 0 10%;
	color: #E6213D;
	font-size: 3rem;
	font-weight: 800;
	text-align: center;
}
@media all and (min-width: 768px){
	.slogan p {
	padding: 0 20% 0 20%;
	}
}
.box1 {
	grid-area: b1;
}
.box1 p{
	padding: 0 5% 0 5%;
	text-align: justify;
}
@media all and (min-width: 768px){
	.box1 p{
	padding: 0 15% 0 15%;
	}
}

/*----------ESTILOS DEL MOSTRARIO DE PRODUCTOS----------*/

#mostrario {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr ;
	grid-template-areas: "tlm" 
						"r";
						 
}
#mostrario .tituloM {
	grid-area: tlm;
	font-size: 1.5rem;
	font-weight: 800;
	color: #4D4D4D;
	padding: 3% 0 3% 3%;
}
@media all and (min-width: 768px){
	#mostrario .tituloM {
	font-size: 2rem;
	}
}

#mostrario .RMA {
	grid-area: r;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	padding: 0 3% 0% 3%;

}

.producto1 {
	width: 128px;
	display: grid;
	grid-template-columns: 1fr ;
	grid-template-areas: "ft" 
						"des";
	justify-items: center;
}
@media all and (min-width: 768px){
	.producto1 {
	width: 228px;
	}
}

.fotoProd{
	grid-area: ft;
	width: 128px;
	height: 128px;
}
@media all and (min-width: 768px){
	.fotoProd{
	width: 228px;
	height: 228px;
	}
}

.descripcion{
	grid-area: des;
	text-align: center;
	font-size: 0.8rem;
}
@media all and (min-width: 768px){
	.descripcion{
	font-size: 1rem;
	}
}